@import '../../../base.scss';

.result {
    text-align: center;
    border-radius: 30px;
    padding: 40px;
    margin: 0 auto;
    background-color: $quizBg;
    box-shadow: $boxShadow;

    @media screen and (max-width: 500px) {
        padding: 20px;
    }

    button {
        font-weight: bold;
        font-family: 'Nunito', sans-serif;
        border-radius: 30px;
        border: 0;
        padding: 15px 30px;
        font-size: 20px;
        background-color: $btnBg;
        color: $whiteColor;
        margin-top: 20px;
        cursor: pointer;
        box-shadow: $boxShadow;
        transition: opacity 300ms ease;

        @media screen and (max-width: 500px) {
            font-size: 16px;
        }

        &:hover {
            opacity: 0.7;
        }
    }

    h2 {
        @media screen and (max-width: 500px) {
            font-size: 20px;
        }
    }

    svg {
        font-size: 120px;
    }
}
