.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

    .link {
        width: 70px;
        padding: 8px 16px;
        border-radius: 4px;
        text-align: center;
        text-decoration: none;
        color: black;
        font-size: 24px;
        font-weight: 600;

        &:hover {
            background-color: lightgray;
            opacity: 0.7;
        }

        &.active {
            color: red;
            background-color: lightgray;
        }
    }
}
