body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 800px;
    padding: 20px 40px;
    margin: 0 auto;

    @media screen and (max-width: 500px) {
        padding: 20px;
    }
}

.main {
    padding: 20px 0;
}
